In [8]:
import pandas as pd
import numpy as np

In [9]:
d={"rollnumber":[101,293,374,484,909,463,788],"sname":["a","b","c","d","e","f","g"],"sage":[10,34,22,42,26,55,88],"smarks":[100,97,88,98,60,87,99]}
d

{'rollnumber': [101, 293, 374, 484, 909, 463, 788],
 'sname': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 'sage': [10, 34, 22, 42, 26, 55, 88],
 'smarks': [100, 97, 88, 98, 60, 87, 99]}

In [10]:
df=pd.DataFrame(d)
df

   rollnumber sname  sage  smarks
0         101     a    10     100
1         293     b    34      97
2         374     c    22      88
3         484     d    42      98
4         909     e    26      60
5         463     f    55      87
6         788     g    88      99

# JavaScript Object Notation
json array
json object            ```{------>json object
                          [----->json array
                          key1value1------------>json array
                          key2value2
                          ]
                        }```
json string

In [11]:
# convert datafram into json
json_data=df.to_json(orient='records')
json_data

'[{"rollnumber":101,"sname":"a","sage":10,"smarks":100},{"rollnumber":293,"sname":"b","sage":34,"smarks":97},{"rollnumber":374,"sname":"c","sage":22,"smarks":88},{"rollnumber":484,"sname":"d","sage":42,"smarks":98},{"rollnumber":909,"sname":"e","sage":26,"smarks":60},{"rollnumber":463,"sname":"f","sage":55,"smarks":87},{"rollnumber":788,"sname":"g","sage":88,"smarks":99}]'

In [12]:
# convert json data into dataframe
json_df=pd.read_json(json_data)
json_df

   rollnumber  sage  smarks sname
0         101    10     100     a
1         293    34      97     b
2         374    22      88     c
3         484    42      98     d
4         909    26      60     e
5         463    55      87     f
6         788    88      99     g

In [14]:
# read html data into dataframe
url="https://en.wikipedia.org/wiki/Visakhapatnam_district"
html_df=pd.read_html(url)
type(html_df)

list

In [15]:
len(html_df)

11

In [16]:
html_df[0]

,Visakhapatnam district,Visakhapatnam district.1
0,District of Andhra Pradesh,District of Andhra Pradesh
1,Araku Ghat Road,Araku Ghat Road
2,Nickname(s):Â Vizag,Nickname(s):Â Vizag
3,Location of Visakhapatnam district in Andhra P...,Location of Visakhapatnam district in Andhra P...
4,Country,India
5,State,Andhra Pradesh
6,Headquarters,Visakhapatnam
7,Administrative Divisions,4 Revenue divisions46 Mandals3265 Villages(307...
8,Government,Government
9,â¢Â District collector,Vadarevu Vinay Chand[1]
10,Area[2]:28,Area[2]:28
11,â¢Â District of Andhra Pradesh,"11,161Â km2 (4,309Â sqÂ mi)"
12,â¢Â Urban[2]:28,632.16Â km2 (244.08Â sqÂ mi)
13,â¢Â Rural[2]:28,"10,528.84Â km2 (4,065.21Â sqÂ mi)"
14,Area rank,14th
15,PopulationÂ (2011)[3],PopulationÂ (2011)[3]
16,â¢Â District of Andhra Pradesh,4290589
17,â¢Â Rank,6th
18,â¢Â Density,384/km2 (990/sqÂ mi)
19,â¢Â DensityÂ rank,8th
20,â¢Â Urban[2]:14,2035922
21,â¢Â Rural[2]:14,2254667
22,â¢Â Households,1097042
23,â¢Â Sex ratio,"1,006 (females per 1,000 males)"
24,Languages,Languages
25,â¢Â Official,Telugu
26,Literacy,Literacy
27,â¢Â Literates,2667878
28,Time zone,UTC+5:30 (IST)
29,Postal Index Number,530xxx
30,Area codes,+91â891
31,ISO 3166 code,IN-AP
32,Vehicle registration,"AP-31, AP-32, AP-33, AP-34, APâ39 (from 30 Jan..."
33,Website,visakhapatnam.nic.in

In [17]:

html_df[1]

,#,Anakapalle Division,Narsipatnam Division,Paderu Division,Visakhapatnam Division
0,1,Anakapalle,Achutapuram,Ananthagiri,Anandapuram
1,2,Butchayyapeta,Golugonda,Araku Valley,Bheemunipatnam
2,3,Cheedikada,Kotauratla,Chintapalle,Gajuwaka
3,4,Chodavaram,Makavarapalem,Dumbriguda,Padmanabham
4,5,Deverapalle,Nakkapalle,G.Madugula,Paravada
5,6,K.Kotapadu,Nathavaram,Gudem Kotha Veedhi,Pedagantyada
6,7,Kasimkota,Narsipatnam,Hukumpeta,Pendurthi
7,8,Madugula,Payakaraopeta,Koyyuru,Sabbavaram
8,9,Munagapaka,Rambilli,Munchingi Puttu,Visakhapatnam Rural
9,10,Ravikamatham,S.Rayavaram,Paderu,Seethammadhara
10,11,Rolugunta,Elamanchili,Peda Bayalu,Maharanipeta
11,12,NaN,NaN,NaN,Gopalapatnam
12,13,NaN,NaN,NaN,Mulagada

In [18]:
html_df[2]

           Year         Pop.      Â±% p.a.
0          1901       992833            â
1          1911      1056683       +0.63%
2          1921      1057223       +0.01%
3          1931      1175984       +1.07%
4          1941      1314362       +1.12%
5          1951      1483653       +1.22%
6          1961      1665213       +1.16%
7          1971      2035831       +2.03%
8          1981      2576474       +2.38%
9          1991      3285092       +2.46%
10         2001      3832336       +1.55%
11         2011      4290589       +1.14%
12  source:[13]  source:[13]  source:[13]

In [19]:
html_df[3]

                    0                 1
0          Population           4288113
1               Males           2140872
2             Females           2147241
3  Growth (1991â2001)            15.36%
4               Rural           2250655
5               Urban           2037458
6                  SC    291,219 (7.6%)
7                  ST  557,572 (14.55%)

# Groups

In [25]:
d={"rollnumber":[101,293,374,484,909,463,788],"sname":["a","b","c","d","e","f","g"],"sage":[10,34,22,42,26,55,88],"smarks":[100,97,88,98,60,87,99],"branch":['cse','eee','ece','it','cse','mech','cse']}
d

{'rollnumber': [101, 293, 374, 484, 909, 463, 788],
 'sname': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
 'sage': [10, 34, 22, 42, 26, 55, 88],
 'smarks': [100, 97, 88, 98, 60, 87, 99],
 'branch': ['cse', 'eee', 'ece', 'it', 'cse', 'mech', 'cse']}

In [26]:
df=pd.DataFrame(d)
df

   rollnumber sname  sage  smarks branch
0         101     a    10     100    cse
1         293     b    34      97    eee
2         374     c    22      88    ece
3         484     d    42      98     it
4         909     e    26      60    cse
5         463     f    55      87   mech
6         788     g    88      99    cse

In [27]:
g=df.groupby('branch')           # it returns object
g

In [28]:
# to group it we can use  loops,or function
for i,j in g:
    print(i)                        # first way
    print(j)

cse
   rollnumber sname  sage  smarks branch
0         101     a    10     100    cse
4         909     e    26      60    cse
6         788     g    88      99    cse
ece
   rollnumber sname  sage  smarks branch
2         374     c    22      88    ece
eee
   rollnumber sname  sage  smarks branch
1         293     b    34      97    eee
it
   rollnumber sname  sage  smarks branch
3         484     d    42      98     it
mech
   rollnumber sname  sage  smarks branch
5         463     f    55      87   mech

In [31]:
# read grouping data
g=df.groupby('branch')              # 2nd way
g

In [32]:
g.get_group('cse')

   rollnumber sname  sage  smarks branch
0         101     a    10     100    cse
4         909     e    26      60    cse
6         788     g    88      99    cse

In [33]:
g.get_group('it')

   rollnumber sname  sage  smarks branch
3         484     d    42      98     it

In [34]:
cse=g.get_group('cse')              # sum the cse marks
cse['smarks'].sum()

259

## Sort

In [35]:
df

   rollnumber sname  sage  smarks branch
0         101     a    10     100    cse
1         293     b    34      97    eee
2         374     c    22      88    ece
3         484     d    42      98     it
4         909     e    26      60    cse
5         463     f    55      87   mech
6         788     g    88      99    cse

In [38]:
# acending order
df.sort_values('sage')

   rollnumber sname  sage  smarks branch
0         101     a    10     100    cse
2         374     c    22      88    ece
4         909     e    26      60    cse
1         293     b    34      97    eee
3         484     d    42      98     it
5         463     f    55      87   mech
6         788     g    88      99    cse

In [43]:
# decending order
df.sort_values('smarks',ascending=False)

   rollnumber sname  sage  smarks branch
0         101     a    10     100    cse
6         788     g    88      99    cse
3         484     d    42      98     it
1         293     b    34      97    eee
2         374     c    22      88    ece
5         463     f    55      87   mech
4         909     e    26      60    cse

In [48]:
df[df['sage']>=20]

   rollnumber sname  sage  smarks branch
1         293     b    34      97    eee
2         374     c    22      88    ece
3         484     d    42      98     it
4         909     e    26      60    cse
5         463     f    55      87   mech
6         788     g    88      99    cse

# Concate:
 columns names should be unique

In [62]:
d1={'city':['vizag','hyderabad','kurnool','mumbai'],'count':[100,200,300,400],'square':[20,30,40,50]}
df=pd.DataFrame(d1)
df

        city  count  square
0      vizag    100      20
1  hyderabad    200      30
2    kurnool    300      40
3     mumbai    400      50

In [63]:
d2={'city':['delhi','kerala','chennai','panjab'],'count':[500,700,800,900],'square':[60,70,80,90]}
df2=pd.DataFrame(d2)
df2

      city  count  square
0    delhi    500      60
1   kerala    700      70
2  chennai    800      80
3   panjab    900      90

In [64]:
total_df=pd.concat([df,df2])
total_df

        city  count  square
0      vizag    100      20
1  hyderabad    200      30
2    kurnool    300      40
3     mumbai    400      50
0      delhi    500      60
1     kerala    700      70
2    chennai    800      80
3     panjab    900      90

In [65]:
total_df=pd.concat([df,df2],ignore_index=True)    #  it give continue index
total_df

        city  count  square
0      vizag    100      20
1  hyderabad    200      30
2    kurnool    300      40
3     mumbai    400      50
4      delhi    500      60
5     kerala    700      70
6    chennai    800      80
7     panjab    900      90

In [66]:
total_df=pd.concat([df,df2],keys=['a','b'])
total_df

          city  count  square
a 0      vizag    100      20
  1  hyderabad    200      30
  2    kurnool    300      40
  3     mumbai    400      50
b 0      delhi    500      60
  1     kerala    700      70
  2    chennai    800      80
  3     panjab    900      90

In [67]:
total_df.loc['b']

      city  count  square
0    delhi    500      60
1   kerala    700      70
2  chennai    800      80
3   panjab    900      90

# merge/join

In [3]:
import pandas as pd
d1={'sno':[199,256,356,879],'sname':['a','b','c','d'],'sage':[10,29,47,34]}
df=pd.DataFrame(d1)
df

   sno sname  sage
0  199     a    10
1  256     b    29
2  356     c    47
3  879     d    34

In [4]:
d2={'saddress':[199,256,389,879],'sname':['h','b','g','d'],'smarks':[80,40,88,44]}
df2=pd.DataFrame(d2)
df2

   saddress sname  smarks
0       199     h      80
1       256     b      40
2       389     g      88
3       879     d      44

In [5]:
df_merge=pd.merge(df,df2,on='sname')       # on=based on,***on*** function we merging
df_merge                                    # defaultly it is inner

   sno sname  sage  saddress  smarks
0  256     b    29       256      40
1  879     d    34       879      44

In [6]:
df_merge=pd.merge(df,df2,on='sname',how='inner')
df_merge

   sno sname  sage  saddress  smarks
0  256     b    29       256      40
1  879     d    34       879      44

In [7]:
df_merge=pd.merge(df,df2,on='sname',how='left')
df_merge

   sno sname  sage  saddress  smarks
0  199     a    10       NaN     NaN
1  256     b    29     256.0    40.0
2  356     c    47       NaN     NaN
3  879     d    34     879.0    44.0

In [8]:
df_merge=pd.merge(df,df2,on='sname',how='right')
df_merge

     sno sname  sage  saddress  smarks
0  256.0     b  29.0       256      40
1  879.0     d  34.0       879      44
2    NaN     h   NaN       199      80
3    NaN     g   NaN       389      88

In [9]:
df_merge=pd.merge(df,df2,on='sname',how='outer')
df_merge

     sno sname  sage  saddress  smarks
0  199.0     a  10.0       NaN     NaN
1  256.0     b  29.0     256.0    40.0
2  356.0     c  47.0       NaN     NaN
3  879.0     d  34.0     879.0    44.0
4    NaN     h   NaN     199.0    80.0
5    NaN     g   NaN     389.0    88.0

In [11]:
df_outer_join=pd.merge(df,df2,on='sname',how='outer')
df_outer_join

     sno sname  sage  saddress  smarks
0  199.0     a  10.0       NaN     NaN
1  256.0     b  29.0     256.0    40.0
2  356.0     c  47.0       NaN     NaN
3  879.0     d  34.0     879.0    44.0
4    NaN     h   NaN     199.0    80.0
5    NaN     g   NaN     389.0    88.0

In [12]:
df_outer_join=pd.merge(df,df2,on='sname',how='left')
df_outer_join

   sno sname  sage  saddress  smarks
0  199     a    10       NaN     NaN
1  256     b    29     256.0    40.0
2  356     c    47       NaN     NaN
3  879     d    34     879.0    44.0

### Task:
    marks<25=>failed
    marks>25&<50=>thired
    marks>50&<90=>second
    marks>90=>nuvu superoooo

In [13]:
df2

   saddress sname  smarks
0       199     h      80
1       256     b      40
2       389     g      88
3       879     d      44

In [23]:
l=[]
for i in df2['smarks']:
    if(i<=25):
        l.append("failed")
    elif(i>25 and i<50):
        l.append("third")
    elif(i>50 and i<=90):
        l.append("second")
    else:
        l.append("first")
df2['grade']=l
df2

   saddress sname  smarks   grade
0       199     h      80  second
1       256     b      40   third
2       389     g      88  second
3       879     d      44   third

In [25]:
import pandas as pd
import requests
url="https://www.worldcoinindex.com/"
data=requests.get(url)
data

In [27]:
h=pd.read_html(data.text)
type(h)

list

In [28]:
h[0]

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Bitcoin,BTC,"$ 51,682",-0.87%,"$ 52,539","$ 51,396",NaN,$ 19.45B,18.63M,$ 962.94B
1,2,NaN,Ethereum,ETH,"$ 1,913.05",+3.40%,"$ 1,927.75","$ 1,850.07",NaN,$ 13.91B,114.72M,$ 219.46B
2,3,NaN,Litecoin,LTC,$ 231.56,-2.42%,$ 238.68,$ 226.88,NaN,$ 4.25B,66.08M,$ 15.30B
3,4,NaN,Binancecoin,BNB,$ 182.78,+10.51%,$ 195.23,$ 163.06,NaN,$ 3.93B,99.01M,$ 18.09B
4,5,NaN,Ripple,XRP,$ 0.538529,+0.87%,$ 0.558715,$ 0.533892,NaN,$ 2.56B,45.67B,$ 24.59B
5,6,NaN,Cardano,ADA,$ 0.939812,+5.41%,$ 0.957145,$ 0.891570,NaN,$ 2.08B,25.92B,$ 24.36B
6,7,NaN,Payprotocol,PCI,$ 2.10,-38.44%,$ 3.85,$ 1.92,NaN,$ 1.93B,NaN,NaN
7,8,NaN,Bitcoincash,BCH,$ 713.54,-0.43%,$ 729.02,$ 708.77,NaN,$ 1.86B,18.45M,$ 13.16B
8,9,NaN,Eos,EOS,$ 4.82,-0.44%,$ 4.98,$ 4.78,NaN,$ 1.75B,1.01B,$ 4.90B
9,10,NaN,Polkadot,DOT,$ 31.25,-2.28%,$ 32.61,$ 31.11,NaN,$ 1.41B,947.85M,$ 29.61B
10,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
11,11,NaN,Chainlink,LINK,$ 32.66,+1.30%,$ 33.56,$ 32.21,NaN,$ 1.38B,350.00M,$ 11.43B
12,12,NaN,Dogecoin,DOGE,$ 0.051150,+4.37%,$ 0.053674,$ 0.048722,NaN,$ 1.27B,124.53B,$ 6.36B
13,13,NaN,Binanceusd,BUSD,$ 0.999228,-0.18%,$ 1.00,$ 0.997228,NaN,$ 1.16B,1.68B,$ 1.68B
14,14,NaN,Bora,BORA,$ 0.260915,+449.92%,$ 0.344352,$ 0.044489,NaN,$ 1.07B,NaN,NaN
15,15,NaN,Tron,TRX,$ 0.053233,+2.10%,$ 0.054744,$ 0.052138,NaN,$ 1.03B,66.68B,$ 3.54B
16,16,NaN,Stellarlumens,XLM,$ 0.500285,+0.69%,$ 0.515216,$ 0.496874,NaN,$ 1.03B,22.43B,$ 11.22B
17,17,NaN,Ethereumclassic,ETC,$ 15.21,-0.70%,$ 15.78,$ 15.02,NaN,$ 1.02B,109.78M,$ 1.67B
18,18,NaN,Iostoken,IOST,$ 0.038750,-3.48%,$ 0.041232,$ 0.038101,NaN,$ 1.01B,6.79B,$ 263.27M
19,19,NaN,Dash,DASH,$ 266.16,-0.25%,$ 269.69,$ 259.33,NaN,$ 853.77M,9.97M,$ 2.65B
20,20,NaN,Cosmos,ATOM,$ 24.21,+1.47%,$ 24.92,$ 23.44,NaN,$ 828.01M,190.68M,$ 4.61B
21,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
22,21,NaN,Zcash,ZEC,$ 162.11,-3.81%,$ 170.99,$ 160.75,NaN,$ 795.89M,11.15M,$ 1.80B
23,22,NaN,Neo,NEO,$ 43.02,+1.08%,$ 43.75,$ 42.37,NaN,$ 747.33M,70.53M,$ 3.03B
24,23,NaN,Aave,AAVE,$ 472.28,+4.65%,$ 478.23,$ 448.85,NaN,$ 675.41M,10.58M,$ 4.99B
25,24,NaN,Uniswap,UNI,$ 21.46,-0.29%,$ 22.24,$ 21.26,NaN,$ 638.56M,126.20M,$ 2.70B
26,25,NaN,The Graph,GRT,$ 2.22,+1.78%,$ 2.35,$ 2.16,NaN,$ 635.46M,1.22B,$ 2.72B
27,26,NaN,Monero,XMR,$ 265.13,-2.60%,$ 276.31,$ 262.21,NaN,$ 624.49M,16.92M,$ 4.48B
28,27,NaN,Qtum,QTUM,$ 6.93,+4.37%,$ 7.26,$ 6.64,NaN,$ 623.05M,89.40M,$ 619.69M
29,28,NaN,Huobitoken,HT,$ 15.29,+6.54%,$ 15.59,$ 13.88,NaN,$ 527.02M,50.00M,$ 764.53M
...,...,...,...,...,...,...,...,...,...,...,...,...
72,71,NaN,Mdex,MDX,$ 3.94,+13.27%,$ 4.16,$ 3.35,NaN,$ 136.08M,NaN,NaN
73,72,NaN,Bat,BAT,$ 0.597780,+4.04%,$ 0.605875,$ 0.574567,NaN,$ 132.36M,1.50B,$ 896.67M
74,73,NaN,SafePal,SFP,$ 3.07,-5.32%,$ 3.34,$ 3.03,NaN,$ 129.75M,NaN,NaN
75,74,NaN,Compound,COMP,$ 465.14,-1.91%,$ 480.25,$ 459.56,NaN,$ 126.67M,2.56M,$ 1.19B
76,75,NaN,Bitcoinsv,BCHSV,$ 243.79,-0.42%,$ 255.87,$ 240.82,NaN,$ 125.98M,18.45M,$ 4.49B
77,76,NaN,Litentry,LIT,$ 11.77,+5.42%,$ 12.48,$ 11.14,NaN,$ 120.05M,18.00M,$ 211.89M
78,77,NaN,Loopring,LRC,$ 0.779886,+2.73%,$ 0.808822,$ 0.755669,NaN,$ 118.16M,286.17M,$ 223.18M
79,78,NaN,Nano,NANO,$ 6.65,+4.04%,$ 6.79,$ 6.39,NaN,$ 116.31M,133.24M,$ 886.16M
80,79,NaN,Dfi.money,YFII,"$ 3,220.83",-3.69%,"$ 3,457.94","$ 3,179.26",NaN,$ 116.08M,40.00K,$ 128.83M
81,80,NaN,Dai,DAI,$ 1.00,-0.18%,$ 1.01,$ 0.996306,NaN,$ 115.57M,NaN,NaN
82,81,NaN,Venus,XVS,$ 67.96,+13.66%,$ 71.29,$ 58.22,NaN,$ 114.62M,NaN,NaN
83,82,NaN,Mainframe,MFT,$ 0.019639,-0.87%,$ 0.020877,$ 0.019056,NaN,$ 108.54M,2.16B,$ 42.49M
84,83,NaN,Dvision Network,DVI,$ 0.130716,+2.75%,$ 0.149941,$ 0.123617,NaN,$ 101.55M,NaN,NaN
85,84,NaN,Alpha Finance Lab,ALPHA,$ 1.66,-0.97%,$ 1.86,$ 1.64,NaN,$ 101.24M,NaN,NaN
86,85,NaN,Kyber,KNC,$ 2.14,+0.53%,$ 2.20,$ 2.11,NaN,$ 97.03M,180.93M,$ 386.73M
87,86,NaN,Ren,REN,$ 1.02,+0.45%,$ 1.06,$ 0.998767,NaN,$ 95.26M,520.32M,$ 532.18M
88,87,NaN,Horizen,ZEN,$ 79.83,+8.11%,$ 84.59,$ 72.63,NaN,$ 92.26M,8.92M,$ 712.07M
89,88,NaN,Metal,MTL,$ 0.963358,+13.43%,$ 1.21,$ 0.849267,NaN,$ 91.31M,66.58M,$ 64.14M
90,89,NaN,Decentraland,MANA,$ 0.303282,+1.52%,$ 0.319541,$ 0.295889,NaN,$ 89.88M,1.05B,$ 318.48M
91,90,NaN,Fantom,FTM,$ 0.218032,+31.92%,$ 0.219661,$ 0.165094,NaN,$ 89.67M,1.81B,$ 395.43M
92,91,NaN,Reserverights,RSR,$ 0.060985,+7.31%,$ 0.062530,$ 0.056813,NaN,$ 88.28M,9.34B,$ 570.07M
93,92,NaN,Maker,MKR,"$ 2,618.80",+0.37%,"$ 2,702.24","$ 2,600.35",NaN,$ 87.53M,1.00M,$ 2.63B
94,93,NaN,Ravencoin,RVN,$ 0.083725,+13.09%,$ 0.084603,$ 0.073799,NaN,$ 87.09M,7.18B,$ 601.69M
95,94,NaN,Ftxtoken,FTT,$ 24.68,+6.15%,$ 25.22,$ 23.25,NaN,$ 85.70M,94.34M,$ 2.32B
96,95,NaN,NuCypher,NU,$ 0.778335,-1.46%,$ 0.806834,$ 0.769248,NaN,$ 82.41M,349.42M,$ 271.97M
97,96,NaN,Kava,KAVA,$ 4.75,+1.03%,$ 4.96,$ 4.70,NaN,$ 80.89M,6.23M,$ 29.60M
98,97,NaN,Anchor Neural World,ANW,$ 0.109016,+3.00%,$ 0.112569,$ 0.104026,NaN,$ 78.18M,NaN,NaN
99,98,NaN,Celo,CELO,$ 4.64,-3.28%,$ 4.92,$ 4.63,NaN,$ 78.03M,97.94M,$ 454.34M
100,99,NaN,Serum,SRM,$ 3.94,+3.33%,$ 4.01,$ 3.80,NaN,$ 76.30M,31.00M,$ 122.21M
101,100,NaN,Tenx,PAY,$ 0.161249,+0.74%,$ 0.169750,$ 0.155224,NaN,$ 74.85M,205.21M,$ 33.09M

In [30]:
df=pd.DataFrame(h[0])
df

,#,Unnamed: 1,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,1,NaN,Bitcoin,BTC,"$ 51,682",-0.87%,"$ 52,539","$ 51,396",NaN,$ 19.45B,18.63M,$ 962.94B
1,2,NaN,Ethereum,ETH,"$ 1,913.05",+3.40%,"$ 1,927.75","$ 1,850.07",NaN,$ 13.91B,114.72M,$ 219.46B
2,3,NaN,Litecoin,LTC,$ 231.56,-2.42%,$ 238.68,$ 226.88,NaN,$ 4.25B,66.08M,$ 15.30B
3,4,NaN,Binancecoin,BNB,$ 182.78,+10.51%,$ 195.23,$ 163.06,NaN,$ 3.93B,99.01M,$ 18.09B
4,5,NaN,Ripple,XRP,$ 0.538529,+0.87%,$ 0.558715,$ 0.533892,NaN,$ 2.56B,45.67B,$ 24.59B
5,6,NaN,Cardano,ADA,$ 0.939812,+5.41%,$ 0.957145,$ 0.891570,NaN,$ 2.08B,25.92B,$ 24.36B
6,7,NaN,Payprotocol,PCI,$ 2.10,-38.44%,$ 3.85,$ 1.92,NaN,$ 1.93B,NaN,NaN
7,8,NaN,Bitcoincash,BCH,$ 713.54,-0.43%,$ 729.02,$ 708.77,NaN,$ 1.86B,18.45M,$ 13.16B
8,9,NaN,Eos,EOS,$ 4.82,-0.44%,$ 4.98,$ 4.78,NaN,$ 1.75B,1.01B,$ 4.90B
9,10,NaN,Polkadot,DOT,$ 31.25,-2.28%,$ 32.61,$ 31.11,NaN,$ 1.41B,947.85M,$ 29.61B
10,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
11,11,NaN,Chainlink,LINK,$ 32.66,+1.30%,$ 33.56,$ 32.21,NaN,$ 1.38B,350.00M,$ 11.43B
12,12,NaN,Dogecoin,DOGE,$ 0.051150,+4.37%,$ 0.053674,$ 0.048722,NaN,$ 1.27B,124.53B,$ 6.36B
13,13,NaN,Binanceusd,BUSD,$ 0.999228,-0.18%,$ 1.00,$ 0.997228,NaN,$ 1.16B,1.68B,$ 1.68B
14,14,NaN,Bora,BORA,$ 0.260915,+449.92%,$ 0.344352,$ 0.044489,NaN,$ 1.07B,NaN,NaN
15,15,NaN,Tron,TRX,$ 0.053233,+2.10%,$ 0.054744,$ 0.052138,NaN,$ 1.03B,66.68B,$ 3.54B
16,16,NaN,Stellarlumens,XLM,$ 0.500285,+0.69%,$ 0.515216,$ 0.496874,NaN,$ 1.03B,22.43B,$ 11.22B
17,17,NaN,Ethereumclassic,ETC,$ 15.21,-0.70%,$ 15.78,$ 15.02,NaN,$ 1.02B,109.78M,$ 1.67B
18,18,NaN,Iostoken,IOST,$ 0.038750,-3.48%,$ 0.041232,$ 0.038101,NaN,$ 1.01B,6.79B,$ 263.27M
19,19,NaN,Dash,DASH,$ 266.16,-0.25%,$ 269.69,$ 259.33,NaN,$ 853.77M,9.97M,$ 2.65B
20,20,NaN,Cosmos,ATOM,$ 24.21,+1.47%,$ 24.92,$ 23.44,NaN,$ 828.01M,190.68M,$ 4.61B
21,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
22,21,NaN,Zcash,ZEC,$ 162.11,-3.81%,$ 170.99,$ 160.75,NaN,$ 795.89M,11.15M,$ 1.80B
23,22,NaN,Neo,NEO,$ 43.02,+1.08%,$ 43.75,$ 42.37,NaN,$ 747.33M,70.53M,$ 3.03B
24,23,NaN,Aave,AAVE,$ 472.28,+4.65%,$ 478.23,$ 448.85,NaN,$ 675.41M,10.58M,$ 4.99B
25,24,NaN,Uniswap,UNI,$ 21.46,-0.29%,$ 22.24,$ 21.26,NaN,$ 638.56M,126.20M,$ 2.70B
26,25,NaN,The Graph,GRT,$ 2.22,+1.78%,$ 2.35,$ 2.16,NaN,$ 635.46M,1.22B,$ 2.72B
27,26,NaN,Monero,XMR,$ 265.13,-2.60%,$ 276.31,$ 262.21,NaN,$ 624.49M,16.92M,$ 4.48B
28,27,NaN,Qtum,QTUM,$ 6.93,+4.37%,$ 7.26,$ 6.64,NaN,$ 623.05M,89.40M,$ 619.69M
29,28,NaN,Huobitoken,HT,$ 15.29,+6.54%,$ 15.59,$ 13.88,NaN,$ 527.02M,50.00M,$ 764.53M
...,...,...,...,...,...,...,...,...,...,...,...,...
72,71,NaN,Mdex,MDX,$ 3.94,+13.27%,$ 4.16,$ 3.35,NaN,$ 136.08M,NaN,NaN
73,72,NaN,Bat,BAT,$ 0.597780,+4.04%,$ 0.605875,$ 0.574567,NaN,$ 132.36M,1.50B,$ 896.67M
74,73,NaN,SafePal,SFP,$ 3.07,-5.32%,$ 3.34,$ 3.03,NaN,$ 129.75M,NaN,NaN
75,74,NaN,Compound,COMP,$ 465.14,-1.91%,$ 480.25,$ 459.56,NaN,$ 126.67M,2.56M,$ 1.19B
76,75,NaN,Bitcoinsv,BCHSV,$ 243.79,-0.42%,$ 255.87,$ 240.82,NaN,$ 125.98M,18.45M,$ 4.49B
77,76,NaN,Litentry,LIT,$ 11.77,+5.42%,$ 12.48,$ 11.14,NaN,$ 120.05M,18.00M,$ 211.89M
78,77,NaN,Loopring,LRC,$ 0.779886,+2.73%,$ 0.808822,$ 0.755669,NaN,$ 118.16M,286.17M,$ 223.18M
79,78,NaN,Nano,NANO,$ 6.65,+4.04%,$ 6.79,$ 6.39,NaN,$ 116.31M,133.24M,$ 886.16M
80,79,NaN,Dfi.money,YFII,"$ 3,220.83",-3.69%,"$ 3,457.94","$ 3,179.26",NaN,$ 116.08M,40.00K,$ 128.83M
81,80,NaN,Dai,DAI,$ 1.00,-0.18%,$ 1.01,$ 0.996306,NaN,$ 115.57M,NaN,NaN
82,81,NaN,Venus,XVS,$ 67.96,+13.66%,$ 71.29,$ 58.22,NaN,$ 114.62M,NaN,NaN
83,82,NaN,Mainframe,MFT,$ 0.019639,-0.87%,$ 0.020877,$ 0.019056,NaN,$ 108.54M,2.16B,$ 42.49M
84,83,NaN,Dvision Network,DVI,$ 0.130716,+2.75%,$ 0.149941,$ 0.123617,NaN,$ 101.55M,NaN,NaN
85,84,NaN,Alpha Finance Lab,ALPHA,$ 1.66,-0.97%,$ 1.86,$ 1.64,NaN,$ 101.24M,NaN,NaN
86,85,NaN,Kyber,KNC,$ 2.14,+0.53%,$ 2.20,$ 2.11,NaN,$ 97.03M,180.93M,$ 386.73M
87,86,NaN,Ren,REN,$ 1.02,+0.45%,$ 1.06,$ 0.998767,NaN,$ 95.26M,520.32M,$ 532.18M
88,87,NaN,Horizen,ZEN,$ 79.83,+8.11%,$ 84.59,$ 72.63,NaN,$ 92.26M,8.92M,$ 712.07M
89,88,NaN,Metal,MTL,$ 0.963358,+13.43%,$ 1.21,$ 0.849267,NaN,$ 91.31M,66.58M,$ 64.14M
90,89,NaN,Decentraland,MANA,$ 0.303282,+1.52%,$ 0.319541,$ 0.295889,NaN,$ 89.88M,1.05B,$ 318.48M
91,90,NaN,Fantom,FTM,$ 0.218032,+31.92%,$ 0.219661,$ 0.165094,NaN,$ 89.67M,1.81B,$ 395.43M
92,91,NaN,Reserverights,RSR,$ 0.060985,+7.31%,$ 0.062530,$ 0.056813,NaN,$ 88.28M,9.34B,$ 570.07M
93,92,NaN,Maker,MKR,"$ 2,618.80",+0.37%,"$ 2,702.24","$ 2,600.35",NaN,$ 87.53M,1.00M,$ 2.63B
94,93,NaN,Ravencoin,RVN,$ 0.083725,+13.09%,$ 0.084603,$ 0.073799,NaN,$ 87.09M,7.18B,$ 601.69M
95,94,NaN,Ftxtoken,FTT,$ 24.68,+6.15%,$ 25.22,$ 23.25,NaN,$ 85.70M,94.34M,$ 2.32B
96,95,NaN,NuCypher,NU,$ 0.778335,-1.46%,$ 0.806834,$ 0.769248,NaN,$ 82.41M,349.42M,$ 271.97M
97,96,NaN,Kava,KAVA,$ 4.75,+1.03%,$ 4.96,$ 4.70,NaN,$ 80.89M,6.23M,$ 29.60M
98,97,NaN,Anchor Neural World,ANW,$ 0.109016,+3.00%,$ 0.112569,$ 0.104026,NaN,$ 78.18M,NaN,NaN
99,98,NaN,Celo,CELO,$ 4.64,-3.28%,$ 4.92,$ 4.63,NaN,$ 78.03M,97.94M,$ 454.34M
100,99,NaN,Serum,SRM,$ 3.94,+3.33%,$ 4.01,$ 3.80,NaN,$ 76.30M,31.00M,$ 122.21M
101,100,NaN,Tenx,PAY,$ 0.161249,+0.74%,$ 0.169750,$ 0.155224,NaN,$ 74.85M,205.21M,$ 33.09M

In [33]:
df.iloc[:,2:]

,Name,Ticker,Last price,%,24 high,24 low,Price Charts 7d,24 volume,# Coins,Market cap
0,Bitcoin,BTC,"$ 51,682",-0.87%,"$ 52,539","$ 51,396",NaN,$ 19.45B,18.63M,$ 962.94B
1,Ethereum,ETH,"$ 1,913.05",+3.40%,"$ 1,927.75","$ 1,850.07",NaN,$ 13.91B,114.72M,$ 219.46B
2,Litecoin,LTC,$ 231.56,-2.42%,$ 238.68,$ 226.88,NaN,$ 4.25B,66.08M,$ 15.30B
3,Binancecoin,BNB,$ 182.78,+10.51%,$ 195.23,$ 163.06,NaN,$ 3.93B,99.01M,$ 18.09B
4,Ripple,XRP,$ 0.538529,+0.87%,$ 0.558715,$ 0.533892,NaN,$ 2.56B,45.67B,$ 24.59B
5,Cardano,ADA,$ 0.939812,+5.41%,$ 0.957145,$ 0.891570,NaN,$ 2.08B,25.92B,$ 24.36B
6,Payprotocol,PCI,$ 2.10,-38.44%,$ 3.85,$ 1.92,NaN,$ 1.93B,NaN,NaN
7,Bitcoincash,BCH,$ 713.54,-0.43%,$ 729.02,$ 708.77,NaN,$ 1.86B,18.45M,$ 13.16B
8,Eos,EOS,$ 4.82,-0.44%,$ 4.98,$ 4.78,NaN,$ 1.75B,1.01B,$ 4.90B
9,Polkadot,DOT,$ 31.25,-2.28%,$ 32.61,$ 31.11,NaN,$ 1.41B,947.85M,$ 29.61B
10,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
11,Chainlink,LINK,$ 32.66,+1.30%,$ 33.56,$ 32.21,NaN,$ 1.38B,350.00M,$ 11.43B
12,Dogecoin,DOGE,$ 0.051150,+4.37%,$ 0.053674,$ 0.048722,NaN,$ 1.27B,124.53B,$ 6.36B
13,Binanceusd,BUSD,$ 0.999228,-0.18%,$ 1.00,$ 0.997228,NaN,$ 1.16B,1.68B,$ 1.68B
14,Bora,BORA,$ 0.260915,+449.92%,$ 0.344352,$ 0.044489,NaN,$ 1.07B,NaN,NaN
15,Tron,TRX,$ 0.053233,+2.10%,$ 0.054744,$ 0.052138,NaN,$ 1.03B,66.68B,$ 3.54B
16,Stellarlumens,XLM,$ 0.500285,+0.69%,$ 0.515216,$ 0.496874,NaN,$ 1.03B,22.43B,$ 11.22B
17,Ethereumclassic,ETC,$ 15.21,-0.70%,$ 15.78,$ 15.02,NaN,$ 1.02B,109.78M,$ 1.67B
18,Iostoken,IOST,$ 0.038750,-3.48%,$ 0.041232,$ 0.038101,NaN,$ 1.01B,6.79B,$ 263.27M
19,Dash,DASH,$ 266.16,-0.25%,$ 269.69,$ 259.33,NaN,$ 853.77M,9.97M,$ 2.65B
20,Cosmos,ATOM,$ 24.21,+1.47%,$ 24.92,$ 23.44,NaN,$ 828.01M,190.68M,$ 4.61B
21,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...,googletag.cmd.push(function() { googletag.disp...
22,Zcash,ZEC,$ 162.11,-3.81%,$ 170.99,$ 160.75,NaN,$ 795.89M,11.15M,$ 1.80B
23,Neo,NEO,$ 43.02,+1.08%,$ 43.75,$ 42.37,NaN,$ 747.33M,70.53M,$ 3.03B
24,Aave,AAVE,$ 472.28,+4.65%,$ 478.23,$ 448.85,NaN,$ 675.41M,10.58M,$ 4.99B
25,Uniswap,UNI,$ 21.46,-0.29%,$ 22.24,$ 21.26,NaN,$ 638.56M,126.20M,$ 2.70B
26,The Graph,GRT,$ 2.22,+1.78%,$ 2.35,$ 2.16,NaN,$ 635.46M,1.22B,$ 2.72B
27,Monero,XMR,$ 265.13,-2.60%,$ 276.31,$ 262.21,NaN,$ 624.49M,16.92M,$ 4.48B
28,Qtum,QTUM,$ 6.93,+4.37%,$ 7.26,$ 6.64,NaN,$ 623.05M,89.40M,$ 619.69M
29,Huobitoken,HT,$ 15.29,+6.54%,$ 15.59,$ 13.88,NaN,$ 527.02M,50.00M,$ 764.53M
...,...,...,...,...,...,...,...,...,...,...
72,Mdex,MDX,$ 3.94,+13.27%,$ 4.16,$ 3.35,NaN,$ 136.08M,NaN,NaN
73,Bat,BAT,$ 0.597780,+4.04%,$ 0.605875,$ 0.574567,NaN,$ 132.36M,1.50B,$ 896.67M
74,SafePal,SFP,$ 3.07,-5.32%,$ 3.34,$ 3.03,NaN,$ 129.75M,NaN,NaN
75,Compound,COMP,$ 465.14,-1.91%,$ 480.25,$ 459.56,NaN,$ 126.67M,2.56M,$ 1.19B
76,Bitcoinsv,BCHSV,$ 243.79,-0.42%,$ 255.87,$ 240.82,NaN,$ 125.98M,18.45M,$ 4.49B
77,Litentry,LIT,$ 11.77,+5.42%,$ 12.48,$ 11.14,NaN,$ 120.05M,18.00M,$ 211.89M
78,Loopring,LRC,$ 0.779886,+2.73%,$ 0.808822,$ 0.755669,NaN,$ 118.16M,286.17M,$ 223.18M
79,Nano,NANO,$ 6.65,+4.04%,$ 6.79,$ 6.39,NaN,$ 116.31M,133.24M,$ 886.16M
80,Dfi.money,YFII,"$ 3,220.83",-3.69%,"$ 3,457.94","$ 3,179.26",NaN,$ 116.08M,40.00K,$ 128.83M
81,Dai,DAI,$ 1.00,-0.18%,$ 1.01,$ 0.996306,NaN,$ 115.57M,NaN,NaN
82,Venus,XVS,$ 67.96,+13.66%,$ 71.29,$ 58.22,NaN,$ 114.62M,NaN,NaN
83,Mainframe,MFT,$ 0.019639,-0.87%,$ 0.020877,$ 0.019056,NaN,$ 108.54M,2.16B,$ 42.49M
84,Dvision Network,DVI,$ 0.130716,+2.75%,$ 0.149941,$ 0.123617,NaN,$ 101.55M,NaN,NaN
85,Alpha Finance Lab,ALPHA,$ 1.66,-0.97%,$ 1.86,$ 1.64,NaN,$ 101.24M,NaN,NaN
86,Kyber,KNC,$ 2.14,+0.53%,$ 2.20,$ 2.11,NaN,$ 97.03M,180.93M,$ 386.73M
87,Ren,REN,$ 1.02,+0.45%,$ 1.06,$ 0.998767,NaN,$ 95.26M,520.32M,$ 532.18M
88,Horizen,ZEN,$ 79.83,+8.11%,$ 84.59,$ 72.63,NaN,$ 92.26M,8.92M,$ 712.07M
89,Metal,MTL,$ 0.963358,+13.43%,$ 1.21,$ 0.849267,NaN,$ 91.31M,66.58M,$ 64.14M
90,Decentraland,MANA,$ 0.303282,+1.52%,$ 0.319541,$ 0.295889,NaN,$ 89.88M,1.05B,$ 318.48M
91,Fantom,FTM,$ 0.218032,+31.92%,$ 0.219661,$ 0.165094,NaN,$ 89.67M,1.81B,$ 395.43M
92,Reserverights,RSR,$ 0.060985,+7.31%,$ 0.062530,$ 0.056813,NaN,$ 88.28M,9.34B,$ 570.07M
93,Maker,MKR,"$ 2,618.80",+0.37%,"$ 2,702.24","$ 2,600.35",NaN,$ 87.53M,1.00M,$ 2.63B
94,Ravencoin,RVN,$ 0.083725,+13.09%,$ 0.084603,$ 0.073799,NaN,$ 87.09M,7.18B,$ 601.69M
95,Ftxtoken,FTT,$ 24.68,+6.15%,$ 25.22,$ 23.25,NaN,$ 85.70M,94.34M,$ 2.32B
96,NuCypher,NU,$ 0.778335,-1.46%,$ 0.806834,$ 0.769248,NaN,$ 82.41M,349.42M,$ 271.97M
97,Kava,KAVA,$ 4.75,+1.03%,$ 4.96,$ 4.70,NaN,$ 80.89M,6.23M,$ 29.60M
98,Anchor Neural World,ANW,$ 0.109016,+3.00%,$ 0.112569,$ 0.104026,NaN,$ 78.18M,NaN,NaN
99,Celo,CELO,$ 4.64,-3.28%,$ 4.92,$ 4.63,NaN,$ 78.03M,97.94M,$ 454.34M
100,Serum,SRM,$ 3.94,+3.33%,$ 4.01,$ 3.80,NaN,$ 76.30M,31.00M,$ 122.21M
101,Tenx,PAY,$ 0.161249,+0.74%,$ 0.169750,$ 0.155224,NaN,$ 74.85M,205.21M,$ 33.09M

In [35]:
df["Name"].value_counts()

Aave                1
Stellarlumens       1
The Graph           1
Uniswap             1
Monero              1
Dvision Network     1
Bitcoincash         1
Fantom              1
Thetatoken          1
Litecoin            1
Okb                 1
Ethereumclassic     1
1inch               1
Quiztok             1
NuCypher            1
Celo                1
Bat                 1
Tether              1
0x                  1
Sushi               1
Waves               1
Kava                1
Kusama              1
Bitcoin             1
Binancecoin         1
Curve DAO Token     1
Algorand            1
Wrappedbitcoin      1
Huobitoken          1
SafePal             1
                   ..
Serum               1
Polkadot            1
Sodacoin            1
Zilliqa             1
Synthetixnetwork    1
Dash                1
Payprotocol         1
Dai                 1
Bancor              1
Tenx                1
Bora                1
Mainframe           1
Dfi.money           1
OMG Network         1
Ontology            1
Nem                 1
Pundix              1
Bandprotocol        1
Cardano             1
Mdex                1
Medibloc            1
Loopring            1
Avalanche           1
Ethereum            1
Decentraland        1
Einsteinium         1
Elrond              1
Vechain             1
Venus               1
Iostoken            1
Name: Name, Length: 102, dtype: int64

In [36]:
df["Name"].unique()

array(['Bitcoin', 'Ethereum', 'Litecoin', 'Binancecoin', 'Ripple',
       'Cardano', 'Payprotocol', 'Bitcoincash', 'Eos', 'Polkadot',
       "googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571049370698-0'); });",
       'Chainlink', 'Dogecoin', 'Binanceusd', 'Bora', 'Tron',
       'Stellarlumens', 'Ethereumclassic', 'Iostoken', 'Dash', 'Cosmos',
       "googletag.cmd.push(function() { googletag.display('div-gpt-ad-1571049390094-0'); });",
       'Zcash', 'Neo', 'Aave', 'Uniswap', 'The Graph', 'Monero', 'Qtum',
       'Huobitoken', 'Polymathnetwork', 'Sushi', 'Bancor', 'Tether',
       'Frontier', 'Elrond', 'Filecoin', 'Terra', 'Algorand',
       'Bittorrent', 'Tezos', 'Ontology', 'OMG Network', 'Vechain',
       'Kusama', 'Pundix', 'Avalanche', 'Yearn.finance', 'Sodacoin',
       'Swipe', 'Medibloc', 'Cryptocomchain', 'Okb', 'Icon', 'Quiztok',
       'Nem', 'Synthetixnetwork', 'Zilliqa', 'Waves', 'Mil.k',
       'Curve DAO Token', 'Usd coin', '0x', 'Bandprotocol', 'Reef',
       '1inch', 'Massvehicleledger', 'Wrappedbitcoin', 'Klaytn',
       'Einsteinium', 'Maticnetwork', 'Thetatoken', 'Mdex', 'Bat',
       'SafePal', 'Compound', 'Bitcoinsv', 'Litentry', 'Loopring', 'Nano',
       'Dfi.money', 'Dai', 'Venus', 'Mainframe', 'Dvision Network',
       'Alpha Finance Lab', 'Kyber', 'Ren', 'Horizen', 'Metal',
       'Decentraland', 'Fantom', 'Reserverights', 'Maker', 'Ravencoin',
       'Ftxtoken', 'NuCypher', 'Kava', 'Anchor Neural World', 'Celo',
       'Serum', 'Tenx'], dtype=object)

In [38]:
import pandas as pd
df=pd.read_csv('Automobile_data (5).csv')
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.00,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.00,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.50,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.50,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.50,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.30,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.00,160,5500,16,22,?
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.80,101,5800,23,29,16430
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.80,101,5800,23,29,16925
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,20970
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,...,164,mpfi,3.31,3.19,9.00,121,4250,21,28,21105
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,164,mpfi,3.31,3.19,9.00,121,4250,20,25,24565
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,30760
16,0,?,bmw,gas,std,two,sedan,rwd,front,103.5,...,209,mpfi,3.62,3.39,8.00,182,5400,16,22,41315
17,0,?,bmw,gas,std,four,sedan,rwd,front,110.0,...,209,mpfi,3.62,3.39,8.00,182,5400,15,20,36880
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.50,48,5100,47,53,5151
19,1,98,chevrolet,gas,std,two,hatchback,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6295
20,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.60,70,5400,38,43,6575
21,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.41,68,5500,37,41,5572
22,1,118,dodge,gas,std,two,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6377
23,1,118,dodge,gas,turbo,two,hatchback,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,7957
24,1,148,dodge,gas,std,four,hatchback,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6229
25,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,6692
26,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.40,68,5500,31,38,7609
27,1,148,dodge,gas,turbo,?,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.60,102,5500,24,30,8558
28,-1,110,dodge,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.50,88,5000,24,30,8921
29,3,145,dodge,gas,turbo,two,hatchback,fwd,front,95.9,...,156,mfi,3.6,3.9,7.00,145,5000,19,24,12964
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,9988
176,-1,65,toyota,gas,std,four,sedan,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,10898
177,-1,65,toyota,gas,std,four,hatchback,fwd,front,102.4,...,122,mpfi,3.31,3.54,8.70,92,4200,27,32,11248
178,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161,5200,20,24,16558
179,3,197,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.30,161,5200,19,24,15998
180,-1,90,toyota,gas,std,four,sedan,rwd,front,104.5,...,171,mpfi,3.27,3.35,9.20,156,5200,20,24,15690
181,-1,?,toyota,gas,std,four,wagon,rwd,front,104.5,...,161,mpfi,3.27,3.35,9.20,156,5200,19,24,15750
182,2,122,volkswagen,diesel,std,two,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,52,4800,37,46,7775
183,2,122,volkswagen,gas,std,two,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,27,34,7975
184,2,94,volkswagen,diesel,std,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,52,4800,37,46,7995
185,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,27,34,8195
186,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,9.00,85,5250,27,34,8495
187,2,94,volkswagen,diesel,turbo,four,sedan,fwd,front,97.3,...,97,idi,3.01,3.4,23.00,68,4500,37,42,9495
188,2,94,volkswagen,gas,std,four,sedan,fwd,front,97.3,...,109,mpfi,3.19,3.4,10.00,100,5500,26,32,9995
189,3,?,volkswagen,gas,std,two,convertible,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.50,90,5500,24,29,11595
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.4,8.50,90,5500,24,29,9980
191,0,?,volkswagen,gas,std,four,sedan,fwd,front,100.4,...,136,mpfi,3.19,3.4,8.50,110,5500,19,24,13295
192,0,?,volkswagen,diesel,turbo,four,sedan,fwd,front,100.4,...,97,idi,3.01,3.4,23.00,68,4500,33,38,13845
193,0,?,volkswagen,gas,std,four,wagon,fwd,front,100.4,...,109,mpfi,3.19,3.4,9.00,88,5500,25,31,12290
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,12940
195,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,13415
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,15985
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.70,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.80,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.00,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,19,25,22625

In [41]:
df['make'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [43]:
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
bmw               8
mercedes-benz     8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
chevrolet         3
alfa-romero       3
jaguar            3
renault           2
mercury           1
Name: make, dtype: int64

In [44]:
df.shape

(205, 26)

In [48]:
df['price'].unique()

array(['13495', '16500', '13950', '17450', '15250', '17710', '18920',
       '23875', '?', '16430', '16925', '20970', '21105', '24565', '30760',
       '41315', '36880', '5151', '6295', '6575', '5572', '6377', '7957',
       '6229', '6692', '7609', '8558', '8921', '12964', '6479', '6855',
       '5399', '6529', '7129', '7295', '7895', '9095', '8845', '10295',
       '12945', '10345', '6785', '11048', '32250', '35550', '36000',
       '5195', '6095', '6795', '6695', '7395', '10945', '11845', '13645',
       '15645', '8495', '10595', '10245', '10795', '11245', '18280',
       '18344', '25552', '28248', '28176', '31600', '34184', '35056',
       '40960', '45400', '16503', '5389', '6189', '6669', '7689', '9959',
       '8499', '12629', '14869', '14489', '6989', '8189', '9279', '5499',
       '7099', '6649', '6849', '7349', '7299', '7799', '7499', '7999',
       '8249', '8949', '9549', '13499', '14399', '17199', '19699',
       '18399', '11900', '13200', '12440', '13860', '15580', '16900',
       '16695', '17075', '16630', '17950', '18150', '12764', '22018',
       '32528', '34028', '37028', '9295', '9895', '11850', '12170',
       '15040', '15510', '18620', '5118', '7053', '7603', '7126', '7775',
       '9960', '9233', '11259', '7463', '10198', '8013', '11694', '5348',
       '6338', '6488', '6918', '7898', '8778', '6938', '7198', '7788',
       '7738', '8358', '9258', '8058', '8238', '9298', '9538', '8449',
       '9639', '9989', '11199', '11549', '17669', '8948', '10698', '9988',
       '10898', '11248', '16558', '15998', '15690', '15750', '7975',
       '7995', '8195', '9495', '9995', '11595', '9980', '13295', '13845',
       '12290', '12940', '13415', '15985', '16515', '18420', '18950',
       '16845', '19045', '21485', '22470', '22625'], dtype=object)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB